*.[bls]#*
*.bmp
*.bom
*.cam
*.cmp
*.csv
*.drd
*.dri
*.drl
*.dru
*.dxf
*.epf
*.GBL
*.GBO
*.GBS
*.GKO
*.GM1
*.GML
*.gpi
*.GTL
*.GTO
*.GTP
*.GTS
*.htm
*.key
*.lbr
*.mnb
*.mnt
*.mpd
*.ngc
*.pdf
*.plc
*.png
*.pov
*.pro
*.rb
*.scr
*.sol
*.stc
*.sts
*.svg
*.tap
*.txt
*.TXT
*.xcf
*.zip
